.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 15px;
  right: 15px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: all 0.4s;
  z-index: 996;
  border: 2px solid white;
  text-decoration: none;
}

.back-to-top:hover {
  background: white;
  color: black;
}

.back-to-top i {
  font-size: 28px;
  color: white;
  line-height: 0;
}

.back-to-top:hover i {
  color: silver;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
